@media screen and (min-width: 375px) {
  .nav-bar-logo {
    text-align: left;
    display: inline-block;
    padding: 5px 0 0 10px;
  }

  .nav-bar-link {
    float: right;
    color: #ffffff;
    display: inline-block;
    padding: 20px 0 0 0;
  }

  .nav-bar-link-item {
    padding: 0 15px;
  }

  .contact-sub-head {
    animation: pulse 1s infinite;
  }

  .footer-link-items {
    padding: 0 18px;
    line-height: 1.9;
  }
}

@media screen and (min-width: 425px) {
  .nav-bar-link-item {
    padding: 0 18px;
    font-size: 18px;
  }

  .footer-link-items {
    font-size: 18px;
    line-height: 2;
    padding: 0 21px;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar-link-item {
    padding: 0 22px;
    font-size: 20px;
  }

  .my-profile-pic,
  .attractive,
  .responsive {
    width: 150px;
  }

  .bio-head {
    font-size: 90px;
  }

  .bio-desc {
    font-size: 20px;
  }

  .ability-wrap {
    text-align: left;
    margin: 0 auto;
    padding: 50px 0 0 0;
    width: 80%;
  }

  .attractive {
    float: left;
    padding: 0 30px 0 0;
  }

  .ability1 {
    padding: 0 0 0 35px;
  }

  .responsive {
    float: right;
    padding: 0 0 0 30px;
  }

  .ability2 {
    padding: 20px 0 0 0;
  }

  .ability-desc {
    margin: 0;
  }

  .footer-link-items {
    font-size: 20px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 900px) {
  .ability1 {
    padding: 10px 0 0 50px;
  }

  .footer-link-items {
    font-size: 22px;
    padding: 0 30px;
  }

  .contact-button {
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {
  hr {
    border-width: 10px;
  }

  .nav-bar {
    height: 70px;
  }

  .nav-bar-img {
    width: 60px;
  }

  .nav-bar-link-item,
  .footer-link-items {
    display: inline-block;
  }

  .nav-bar-link-item {
    font-size: 25px;
  }

  .nav-bar-link-item:hover {
    animation: fadeIn 0.8s;
  }

  .bio {
    margin: 80px 0;
  }

  .bio-head {
    font-size: 100px;
  }

  .bio-desc {
    font-size: 22px;
  }

  .my-profile-pic,
  .attractive,
  .responsive {
    width: 170px;
  }

  .my-profile-pic:hover {
    animation: pulse 0.65s infinite;
  }

  .greeting {
    font-size: 27px;
  }

  .my-desc {
    font-size: 22px;
  }

  .my-desc:hover,
  .ability-wrap:hover,
  .contact-button:hover {
    animation: pulse 0.65s;
  }

  .ability-main-head,
  .contact-head {
    font-size: 35px;
  }

  .ability-head,
  .ability-desc,
  .contact-sub-head,
  .contact-desc {
    font-size: 20px;
  }

  .footer-link-items:hover {
    animation: tada 0.6s;
  }
}

@media screen and (min-width: 1200px) {
  .ability-wrap {
    width: 70%;
    padding: 100px 0 0 0;
  }

  .attractive {
    padding: 0 80px 0 0;
  }

  .responsive {
    padding: 0 0 0 90px;
  }
}

@media screen and (min-width: 1366px) {
  .bio {
    margin: 30px 0;
  }

  .bio-head {
    font-size: 90px;
  }

  .bio-desc {
    font-size: 20px;
  }

  .contact-desc {
    width: 60%;
  }
}

/* Animation panel */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}